<div *ngIf="products">
  <div><h3>{{title}}</h3></div>
<div  *ngFor="let p of products._embedded.products">
<div class="col-md-4">
  <div class="panel panel-default heigted">
    <div class="panel-heading">{{p.name}}</div>
    <div class="panel-body">
      <img class="img-thumbnail img-rounded btn" (click)="onProductDetails(p)" [src]="this.catService.host+'/photoProduct/'+p.id+'?ts='+getTS()"/>   
      <div>
        <label>Price : {{p.currentprice|number:'0.2'}}</label>
      </div>      
      <div>
        <form #f="ngForm" (ngSubmit)="onAddProductToCaddy(p)">
          <label class="control-label">Quantité :</label>
          <input type="number" name="quantity" [(ngModel)]="p.quantity" ngModel style="width: 40px">
          <button>
            <img src="assets/images/caddy.png">
          </button>
        </form>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>